<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
 
    <style>
    body {
      background: linear-gradient(135deg, #1e1e2f, #2a2a3c);
      color: white;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .btn-main {
      padding: 12px 28px;
      border-radius: 10px;
      font-size: 18px;
      transition: 0.3s;
    }
    .btn-main:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(255,255,255,0.2);
    }
  </style>
  
</head>
<body>
  <a href="/set_language/ru" class="btn-main">Русский</a>
  <a href="/set_language/en" class="btn-main">English</a>
  <h2>Login Page</h2>
  <form method="POST">
    <label>Имя:</label><br>
    <input type="text" name="fullname" required><br><br>

    <label>Пароль:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Войти</button>
</form>


  <p>Don't have an account? <a href="/register">Register here</a></p>
  
</a>

  
  
 

</body>
</html>
